@tailwind base;
@tailwind components;
@tailwind utilities;

.dx-icon-folder::before {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9Ikljb25zIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDp1cmwoI2xpbmVhci1ncmFkaWVudCk7fS5jbHMtMntmaWxsOiNlZjZkMGM7fS5jbHMtM3tmaWxsOiNmZmJjNmM7fTwvc3R5bGU+PGxpbmVhckdyYWRpZW50IGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBpZD0ibGluZWFyLWdyYWRpZW50IiB4MT0iMTIiIHgyPSIxMiIgeTE9IjEuMDg1IiB5Mj0iMjIuOTQ5Ij48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmZmFhMzkiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZjgxMWEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yMyw3VjE5YTQsNCwwLDAsMS00LDRINWE0LDQsMCwwLDEtNC00VjNBMi4wMDYsMi4wMDYsMCwwLDEsMywxSDlhMi4wMDYsMi4wMDYsMCwwLDEsMiwyVjVIMjFBMi4wMDYsMi4wMDYsMCwwLDEsMjMsN1oiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xMSwzVjVINUExLDEsMCwwLDEsNSwzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMyIgZD0iTTE0LDIwSDVhMSwxLDAsMCwxLDAtMmg5YTEsMSwwLDAsMSwwLDJaIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNOSwxNkg1YTEsMSwwLDAsMSwwLTJIOWExLDEsMCwwLDEsMCwyWiIvPjwvc3ZnPg==") !important;
}

.kk-sidebar::-webkit-scrollbar {
  width: 0.6125rem;
}

.kk-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(189, 197, 209, 0.6);
  visibility: hidden;
}

.kk-sidebar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
a.active {

  @apply text-white;
  @apply border-none;
  @apply bg-primary-500;
  @apply hover:bg-primary-600;
  @apply rounded-lg;
}

a.active svg {
  @apply text-white;
}

.collapse-navlink.active {
  @apply text-primary-500;
  @apply hover:text-primary-700;
  @apply bg-white;
  @apply hover:bg-white;
  @apply dark:bg-black;
  @apply dark:hover:bg-black;
  @apply rounded-lg;

}

.fb-tab.active {
  @apply border-b-2;
  @apply border-l-0;
  @apply border-primary-500;
  @apply text-primary-500;
  @apply hover:border-primary-500;
  @apply hover:text-primary-500;
  @apply text-primary-500;
}
.fb-tab.active svg{
  @apply text-primary-500
}

.fb-breadcrumb .active {
  @apply border-b-0;
  @apply border-l-0;
  @apply cursor-default;
  @apply border-gray-400;
  @apply text-gray-400;
  @apply hover:text-gray-400;
  @apply text-gray-400;
}

.nav-icon.active{
  @apply border-l-0;
  @apply bg-primary-500;
  @apply text-white;
}
.nav-icon.active svg{
  @apply text-white;
}


.react-tel-input{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}




.fancy-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
  @apply dark:bg-gray-800;
  @apply rounded-full;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary-100;
  @apply dark:bg-primary-700;
  @apply rounded-full;
}

.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-300;
    @apply dark:bg-gray-600;
    @apply rounded-full;
}

.ql-toolbar.ql-snow {
  border: 0.0625rem solid #e7eaf3 !important;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.ql-container {
  border: 0.0625rem solid #e7eaf3 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;

}

.confirm-button-class {
  background-color: red !important;
  color: white !important;
  border: none !important;
}

.swal2-title {
  @apply text-3xl;
}


.icon-class {
  font-size: 10px !important;
}

.confirm-button-class .swal2-icon svg {
  @apply w-3;
  @apply h-3;
}
.swal2-popup.swal2-modal{
  @apply rounded-lg;
}

.swal2-actions .swal2-confirm {
  @apply bg-primary-500;
  @apply text-white;
  @apply border-none;
  @apply hover:bg-primary-600;
  @apply rounded-lg;
  @apply focus:outline-primary-100;
  @apply focus:ring-2;
  @apply focus:ring-primary-100;
  @apply border-none;
}


.swal2-actions .swal2-cancel {
  @apply bg-gray-100;
  @apply text-gray-700;
  @apply rounded-lg;
  @apply focus:outline-gray-500;
  @apply border-none;
}
